*.d
*.o
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.map
*.elf
*.mk
/BOOTLOADER/GCC/BOOTLOADER/Release/
/BOOTLOADER/GCC/BOOTLOADER/Debug/
/CDDLive/Release/
/CDDLive/Release 15/
/CDDLive/Release 12/
/CDDLive/Release 8/
/CDDLive/Release 118/
/CDDLive/Release 218/
/CDDLive/Release Manf/
/CDDLive/Debug/
/CDDLive/Debug 15/
/CDDLive/Debug 12/
/CDDLive/Debug 8/
/CDDLive/Debug 118/
/CDDLive/Debug 218/
/CDDLive/Debug Manf/
/TOOLS/MandolinComm/Debug/
/TOOLS/MandolinComm/Release/
/TOOLS/MandolinComm/.vs/
/TOOLS/OlyPack/Debug/
/TOOLS/OlyPack/Release/
/TOOLS/OlyPack/.vs/
/TOOLS/RUgly/Debug/
/TOOLS/RUgly/Release/
/TOOLS/RUgly/.vs/
/TOOLS/*.txt


CDDLive/.settings/language.settings.xml
*.bin
*.img
*.bak
*.hex
*.zip
