*.d
*.o
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.map
*.hex
*.elf
*.mk
/Release/
/Debug/
/Debug 15/
/Debug 12/
/Debug 8/
/Debug 118/
/Debug 218/
/Debug Manf/
/SecBootloader/
/ReleaseSizeOptimised/
/CDDLive/Release/
/CDDLiveDebug/
/CDDLiveDebug 15/
/CDDLiveDebug 12/
/CDDLiveDebug 8/
/CDDLiveDebug 118/
/CDDLiveDebug 218/
/CDDLiveDebug Manf/
/TOOLS/MandolinComm/Debug/
/TOOLS/MandolinComm/Release/
/TOOLS/MandolinComm/.vs/
/TOOLS/OlyPack/Debug/
/TOOLS/OlyPack/.vs/
/TOOLS/RUgly/Debug/
/TOOLS/RUgly/Release/
/TOOLS/RUgly/.vs/

